@import "reset.css";
@import "login-form.css";

* {
    box-sizing: border-box;
    overflow-wrap: break-word;
    color: white;
    text-shadow: 1px 1px 2px black;
}

.hidden {
    display: none;
}
.flex {
    display: flex;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    background-position: center center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#weather {
    width: 100vw;
    height: 10vh;
    justify-content: flex-end;
    align-items: center;
    font-size: 130%;
    padding-right: 5%;
}

#weather span:first-child {
    margin-right: 18px;
}

#clock {
    justify-content: center;
    align-items: center;
    width: 100vw;
    font-size: 800%;
}
#greeting {
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 300%;
}

#quote {
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 10vh;
    font-size: 130%;
    padding: 0 20px;
}
#quote span {
    margin-right: 15px;
}

#todo-form {
    margin-top: 3%;
    width: 100vw;
    height: 15vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#todo-form span {
    margin-bottom: 10px;
    font-size: 180%;
}

#todo-form input {
    background-color: transparent;
    border: none;
    border-bottom: 5px solid white;
    font-size: 180%;

}

#todo-list {
    width: 50vw;
    height: 40vh;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.3);
}

#todo-list li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 8px;
    font-size: 20px;
}
#todo-list i {
    margin-right: 15px;
}

#todo-list span {
    font-size: 25px;
}

#todo-list button {
    background-color: transparent;
    border: unset;
    margin-left: 10px;
    font-size: 10px;
}